site_name: "C-Phasing"
site_url: https://wangyibin.github.io/CPhasing
repo_url: https://github.com/wangyibin/CPhasing
docs_dir: docs
site_dir: site
copyright: Copyright © 2022-2026 Tanger-lab
theme:
  name: material
  language: en
  # custom_dir: docs/overrides/
  highlight: monokai
  favicon: logo/logo.png
  logo: logo/logo.png
  font:
    text: Red Hat Text
    code: JetBrains Mono
    

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: prefix-light
      accent: prefix-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: prefix
      accent: prefix
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  icon:
    edit: material/pencil
    view: material/eye
  # palette:
  #   - media: "(prefers-color-scheme)"
  #     toggle:
  #       icon: lucide/sun-moon
  #       name: Switch to light mode
  #   - media: "(prefers-color-scheme: light)"
  #     scheme: default
  #     primary: indigo
  #     accent: indigo
  #     toggle:
  #       icon: lucide/sun
  #       name: Switch to dark mode
  #   - media: "(prefers-color-scheme: dark)"
  #     scheme: slate
  #     primary: indigo
  #     accent: orange
  #     toggle:
  #       icon: lucide/moon-star
  #       name: Switch to system preference
  # icon:
  #   tag:
  #     default: lucide/hash


  features:
    - content.tabs.link
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.action.view
    - content.action.source
    - content.code.annotate
    - content.tooltips 
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.sections
    # - navigation.prune
    - navigation.top
    - navigation.indexes
    - navigation.footer
    - navigation.tabs
    - toc.follow
    - search.share
    - search.highlight
    - search.suggest
    
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.keys
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: ./
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      toc_depth: 3
      permalink: true
  - mdx_truly_sane_lists
  - md_in_html

extra_css:
  - styles/extra.css

# extra_javascript:
#   - javascript/extra.js

extra:
  homepage: https://wangyibin.github.io/CPhasing
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/wangyibin
  version:
    provider: mike
  alternate:
    - name: English
      link: /
      lang: en
    - name: 简体中文
      link: /zh/
      lang: zh


plugins:
  - search
    # lang: en
  - i18n:
      docs_structure: suffix
      languages:
        - locale: en
          name: English
          build: true
          default: true
          site_name: "C-Phasing Docs"

        - locale: zh
          name: 中文
          build: true
          site_name: "C-Phasing 文档"
          theme:
            palette:
              primary: red
            font:
              text: Roboto
              code: JetBrains Mono
          nav_translations:
            Home: 首页
            Introduction & Installation: 介绍&安装
            Get Started: 快速入门
            Tutorials: 教程
            CLI: 工具
            Pore-C&HiFi-C: Pore-C或HiFi-C数据
            Hi-C: Hi-C数据
            FAQ: 常见问题
            Citation: 引用
            Changelog: 更新日志
            Misc: 其他
  # - ultralytics:
  #     add_desc: False
  #     add_image: True
  #     add_authors: True
  #     add_json_ld: True
  #     add_share_buttons: True
  #     add_css: False



nav:
  - Home: index.md
  - Get Started: basic_usage.md
  - Tutorials: 
    - Pore-C&HiFi-C:
      - tutorials/porec/porec_monoploid.md
      - tutorials/porec/porec_decaploid.md
      - tutorials/porec/porec_sugarcane.md
    - Hi-C:
      - tutorials/hic/hic_monoploid.md
      - tutorials/hic/hic_decaploid.md
      - tutorials/hic/hic_sugarcane.md

  - CLI: 
    - CLI/mapper.md
    - CLI/methalign.md
    - CLI/hic_mapper.md
    - CLI/alleles.md
    - CLI/collapse.md
    - CLI/rename.md
    - CLI/plot.md
  
  - Citation: citation.md
  - Misc:
    - FAQ: faq.md
    - Changelog: CHANGES.md
  
  

    