site_name: "C-Phasing"
site_url: https://wangyibin.github.io/CPhasing
repo_url: https://github.com/wangyibin/CPhasing
copyright: Copyright © 2022-2025 Tanger-lab
theme:
  name: material
  highlight: monokai
  favicon: logo/logo.png
  logo: logo/logo.png
  font:
    text: Red Hat Text
    code: JetBrains Mono

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: prefix-light
      accent: prefix-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: prefix
      accent: prefix
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  icon:
    edit: material/pencil
    view: material/eye

  features:
    - content.tabs.link
    - content.code.copy
    - content.code.select
    - content.action.edit
    - content.code.annotate
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - navigation.footer
  
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      toc_depth: 3
      permalink: "#"
  - mdx_truly_sane_lists
  - md_in_html

extra_css:
  - styles/extra.css

extra:
  homepage: https://wangyibin.github.io/CPhasing
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/wangyibin
  version:
    provider: mike

plugins:
  - search 
  - i18n:
      docs_structure: suffix
      languages:
        - locale: en
          name: English
          build: true
          default: true
          site_name: "C-Phasing Docs"

        - locale: zh
          name: 中文
          build: true
          site_name: "C-Phasing 文档"
          theme:
            palette:
              primary: red
            font:
              text: Roboto
              code: JetBrains Mono
          nav_translations:
            Home: 首页
            Installation: 安装
            Basic Usage: 基本用法
            Tutorials: 教程
            FAQ: 常见问题



nav:
  - Installation: index.md
  - Basic Usage: basic_usage.md
  - Tutorials:
    - Pore-C:
      - tutorials/porec/porec_tetraploid.md
      - tutorials/porec/porec_sugarcane.md
    - Hi-C:
      - tutorials/hic/hic_tetraploid.md

  - CLI: 
    - CLI/mapper.md
    - CLI/alleles.md
    - CLI/plot.md

  - FAQ: faq.md