[workspace]
authors = ["wangyibin <yibinwang96@outlook.com>"]
channels = ["conda-forge", "bioconda", "anaconda", "hcc"]
description = "Add a short description here"
name = "CPhasing"
platforms = ["linux-64", "linux-aarch64"]
version = "0.2.8"

[system-requirements]
linux = "3.10.0"
libc = "2.17"


[tasks]
activate = "LD_LIBRARY_PATH=$PWD/.pixi/envs/default/lib:$LD_LIBRARY_PATH"

[dependencies]
python = "3.12.0.*"
rich-click = "1.7.4.*"
click = ">=8.1.8,<8.2"
biopython = ">=1.84,<2"
click-didyoumean = ">=0.3.1,<0.4"
colormaps = ">=0.4.2,<0.5"
dask = ">=2024.11.2,<2025"
pyranges = ">=0.1.2,<0.2"
joblib = ">=1.4.2,<2"
pandarallel = ">=1.6.5,<2"
natsort = ">=8.4.0,<9"
ncls = ">=0.0.68,<0.0.69"
cooler = ">=0.10.2,<0.11"
msgspec = ">=0.18.6,<0.19"
pandas = ">=2.2.3,<3"
numpy = ">=1.26.4,<2"
polars = ">=1.17.1,<1.18.0"
portion = ">=2.5.0,<3"
patchworklib = ">=0.6.3,<0.7"
python-igraph = ">=0.11.8,<0.12"
networkx = ">=3.4.2,<3.5"
pyarrow = ">=18.1.0,<19"
intervaltree = ">=3.1.0,<4"
hicmatrix = ">=17.2,<18"
seaborn = ">=0.13.2,<0.14"
scikit-learn = ">=1.5.2,<2"
statannotations = ">=0.7.1,<0.8"
pytools = ">=2024.1.18,<2025"
pysam = ">=0.22.1,<0.23"
minimap2 = ">=2.28,<3"
chromap = ">=0.3.2,<0.4"
bedtools = ">=2.31.1,<3"
seqkit = ">=2.9.0,<3"
samtools = ">=1.20,<1.21"
pigz = ">=2.8,<3"
wfmash = "0.17.0.*"
matplotlib = ">=3.9.3,<4"
line_profiler = ">=4.1.3,<5"
ipykernel = ">=6.30.1,<7"
cdlib = ">=0.4.0,<0.5"
graph-tool = ">=2.97,<3"
plotly = ">=6.2.0,<7"
crabz = ">=0.10.0,<0.11"
bwa-mem2 = ">=2.3,<3"
samblaster = ">=0.1.26,<0.2"



[feature.methalign.system-requirements]
linux = "3.10.0"
libc = "2.17"

[feature.methalign]
platforms = ["linux-64"]


[feature.methalign.dependencies]
ont-modkit = ">=0.4.3,<0.5"
dorado = ">=0.7.2,<0.8"
pbmm2 = ">=1.16.99,<2"
pb-cpg-tools = ">=3.0.0,<4"




#[feature.jupyterlab.system-requirements]
#linux = "3.10.0"
#libc = "2.17"

#[feature.jupyterlab.dependencies]
#jupyterlab = ">=4.4.5,<5"
#pixi-kernel = ">=0.6.6,<0.7"
#nbclassic = ">=1.3.1,<2"


[feature.docs.system-requirements]
linux = "3.10.0"
libc = "2.17"

[feature.docs.dependencies]
mkdocs = ">=1.6.1,<2"
mkdocs-material = ">=9.5.47,<10"
mdx_truly_sane_lists = ">=1.3,<2"
mike = "2.0.0.*"
pillow = ">=9.4.0"
cairosvg = "2.7.1.*"
git-cliff = ">=2.4.0,<3"
zensical = ">=0.0.11,<0.0.12"

[feature.docs.pypi-dependencies]
mkdocs-static-i18n = ">=1.2.3"

[feature.docs.tasks]
build-docs = "mkdocs build --strict"
zbuild-docs = "zensical build && zensical build -f mkdocs_zh.md" 
bump-changelog = "git-cliff --unreleased --prepend CHANGELOG.md --tag $RELEASE_VERSION"
deploy-dev = "mike deploy --push dev devel"
deploy-latest = "mike deploy --push --update-aliases $RELEASE_VERSION latest"
docs = "mkdocs serve"
mike-serve = "mike serve"



[environments]
    docs = { features = [
    "docs",
    ], no-default-feature = true, solve-group = "default" }
    methalign = ["methalign"]
#    jupyterlab = ["jupyterlab"]

