biopython
click
cooler
dask
distributed
fanc
hicexplorer
hypernetx
igraph
intervaltree
joblib
natsort
ncls
numpy >= 1.22.0
nwhy
matplotlib
pandas
pandarallel
pyfaidx >= 0.7.0
pyranges
pysam
pytools
rich
scipy