biopython
click
colormaps
cooler >= 0.8.11
dask
distributed
hicmatrix
igraph
intervaltree
joblib
natsort
ncls
networkx
numpy >= 1.22.0
matplotlib
msgspec
pandas >= 2.2.0
pandarallel
pyarrow >= 8.0.0
pyfaidx >= 0.7.0
pyranges
pytools
seaborn
ray
rich
scipy