biopython
click
click-didyoumean
colormaps
cooler >= 0.8.11
dask >= 2024.6.0
distributed
hicmatrix
igraph >= 0.11.3
intervaltree
joblib
natsort
ncls
networkx
numpy >= 1.22.0
matplotlib == 3.8.0
msgspec
pandas >= 2.2.0
pandarallel
portion 
polars >= 0.20.29
pyarrow >= 8.0.0
pyfaidx >= 0.7.0
pyranges
pysam >= 0.22.1
pytools
seaborn
ray
rich
rich-click == 1.7.4
scipy
scikit-learn >= 1.2.1