name: Documentation
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          environments: docs
      - run: |
          pixi run -e docs zensical build -f mkdocs_en.yml --clean 
      - run: |
          pixi run -e docs  zensical build -f mkdocs_zh.yml 
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - uses: actions/deploy-pages@v4
        id: deployment